@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plaster&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
  align-self: stretch;
  object-fit: cover;
}
html {
  --color1: #f2bb05;
  --color2: #4464ad;
  --color3: #b12d20;
  --color4: #ebe3d5;
  --color5: #170f02;
}

body {
  background-color: var(--color4);
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
  padding: 40px;
}

body#index {
  background-image: url(img/background2.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
  background-size: cover;
}

#index p {
  margin-top: 200px;
  max-width: 350px;
  font-size: 1.8rem;
  background-color: var(--color4);
}

/*** HEADER ***/

header img {
  max-width: 60px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: sticky;
  top: 0;
  /*box-shadow: 0 2px 0 0 #a3bcf9;*/
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  gap: 35px;
}

nav a:hover,
#bread a:hover {
  color: var(--color3);
}

h1,
h2,
h3,
nav {
  font-family: "Plaster", cursive;
}

h2 {
  padding-bottom: 10px;
}

h1 {
  padding-bottom: 16px;
}

p {
  font-size: 1.2rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color5);
}

section a:hover {
  background-color: var(--color5);
  color: var(--color4);
  display: block;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

section {
  border-style: dashed;
  border-color: var(--color5);
  border-width: 10px;
  padding: 20px;

  margin: 40px 0;
}

.projects {
  padding: 20px 0 20px 20px;
}

ul.temanav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  max-width: 800px;
}

.marked {
  color: var(--color3);
}

/*** grids ***/

.grid_h2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  max-width: 100px;
  padding: 20px 0;
}
@media (min-width: 600px) {
  .grid_2col_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
  }
  .grid_2col_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
